{% extends 'basic_page.html' %}

{% set handle_navbar = True %}
{% set jquery = True %}
{% set nav_menu_item_id = "nav-home" %}

{% block title %}{{ uname }} - {{ page_subname }}{% endblock %}

{% set sidebar = True %}

{% block header %}{% include 'header_logged.inc' %}{% endblock %}

{% block sidebar %}{% include 'sidebar.inc' %}{% endblock %}

{% block scripts %}

<!-- additional scripts for sidebar -->
<!--<script>  // to overlap sidebar over border of nav  
$(function() {
	$sidebar = $('.sidebar').eq(0);
	$sidebar_offset = $sidebar.offset();  // get the original coords of the sidebar
	$sidebar.offset({left: $sidebar_offset.left, top: $sidebar_offset.top - 1})
	// move the sidebar up a pixel to cover nav border
});
</script>  NO LONGER NEEDED, AS HAS BEEN REPLACED BY CSS -->

{{ super() }}

<script>  // highlight appropriate subnav items
highlightMenuItemFromId('{{ subnav_menu_item_id }}');
</script>

{% endblock %}
